extends layout
block vars
  - var title = "LIBERO | add book"

block content
  
  div(align='right')
   a(href = "/dashboard/admin") Dashboard
   |&nbsp;&nbsp;<font size="5">|</font>&nbsp;&nbsp;
   a(href = "/logout") logout
  hr
  h3(align='left') WELCOME ADMIN

  h2(align = "center") ADD BOOK

  div(class = "add_form")
   form(action = "addBook" method="POST")
    input(type="text" class = "inputBox" name="id" placeholder = "Enter Book ID" required)
    br
    input(type="text" class = "inputBox" name="name" required placeholder = "Enter Book name")
    br
    input(type="submit" class = "register-button" value="ADD" required)
   if isSuccess
    div(class = "success_message")
     p(align = "center") #{message}
   else
    div(class = "error_message")
     p(align = "center") #{message}
  