extends layout

block content
  h1 WELCOME ADMIN
  h1= "ADD BOOK"

  a(href = "/dashboard/admin") Dashboard
  |&nbsp;|&nbsp;
  a(href = "/logout") logout
  br

  form(action = "addBook" method="POST")
   input(type="text" name="id" placeholder = "Enter Book ID" required)
   br
   input(type="text" name="name" required placeholder = "Enter Book name")
   br
   input(type="submit" value="ADD" required)
  div
   p #{message}
  