extends layout

block content
  h1(align='center') WELCOME ADMIN

  div(align='right')
   a(href = "/dashboard/admin") Dashboard
   |&nbsp;&nbsp;<font size="5">|</font>&nbsp;&nbsp;
   a(href = "/logout") logout
  hr

  h2(align = "center") ADD A USER
  
  div(class = "add_form")
   form(action = "/addUser" method="POST")
    input(type="text" class = "inputBox" name="u_id" placeholder = "Enter USER ID" required)
    br
    input(type="password" class = "inputBox" name="password" required placeholder = "Enter password here")
    br
    input(type="submit" class = "register-button" value="ADD USER" required)
   div(class = "error_message")
    p(align = "center") #{message}

