extends layout

block content
  h1(align='center') WELCOME ADMIN

  div(align='right')
   a(href = "/dashboard/admin") Dashboard
   |&nbsp;|&nbsp;
   a(href = "/logout") logout
  br

  h2 ADD A USER
  div
   form(action = "/addUser" method="POST")
    input(type="text" name="u_id" placeholder = "Enter USER ID" required)
    br
    input(type="password" name="password" required placeholder = "Enter password here")
    br
    input(type="submit" value="ADD USER" required)
   div
    p #{message}


