extends layout
block vars
  - var title = "LIBERO | admin"

block content

  div(align='right')
   a(href = "/logout") logout
  hr
  
  h3(align='left') WELCOME ADMIN
  div(class = "tiles")
   a(href = "/addUser")
    img(src = "/images/add-user.jpg" class = "tiles_image")
    h3(align = "center") Add a user

  div(class = "tiles")
   a(href = "/adminSearch")
    img(src = "/images/book_search.png" class = "tiles_image")
    h3(align = "center") Search Books
  div(class = "tiles")
   a(href = "/addBook")
    img(src = "/images/add-book.png" class = "tiles_image")
    h3(align = "center") Add a Book
