extends layout

block content
  h1 WELCOME ADMIN
  h2= "ADMIN SEARCH"

  a(href = "/dashboard/admin") Dashboard
  |&nbsp;|&nbsp;
  a(href = "/logout") logout
  br

  form(action = "adminSearch" method="POST")
   input(type="text" name="name" required)
   input(type="submit" value="SEARCH" required)
  
  if(books)
   div
    if(books.length == 0)
     p NOT AVAILABLE

    if(books.length > 0)
     table
      tr
       th Book name
       th AVAILABLE
       th Total
      each book in books
       tr
        td #{book.name}
        td #{book.available}
        td #{book.count}