extends layout

block content
  h1 WELCOME ADMIN
  a(href = "/addUser") Add a user
  |&nbsp;|&nbsp;
  a(href = "/adminSearch") Search Books
  |&nbsp;|&nbsp;
  a(href = "/addBook") Add a Book
  |&nbsp;|&nbsp;
  a(href = "/logout") logout
