extends layout

block content
  h1(align='center') LIBERO
  h2(align='center') LIBRARY MANAGEMENT SYSTEM
  BR
  h3 LOGIN

  form(action = "login" method="POST")
   input(type="text" name="user_id" placeholder = "Enter User ID" required)
   br
   input(type="password" name="pwd" required placeholder = "Enter Password")
   br
   input(type="submit" value="LOGIN" required)
  div
   p #{message}