doctype html
html
  head
    title= 'LIBERO'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div(class = "header")
    h1(align='center' class = "title") LIBERO
    h2(align='center') LIBRARY MANAGEMENT SYSTEM
    BR
   div(class = "wrapper")
    block content