doctype html
block vars
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon') 
  body
   div(class = "header")
    h1(align='center' class = "title") LIBERO
    h2(align='center') LIBRARY MANAGEMENT SYSTEM
    BR
   div(class = "wrapper")
    block content