extends layout

block content
  div(align='right')
   a(href = "/logout") logout
  hr

  h3(align='left') WELCOME SUPER USER
  h2(align='center') ADD NEW ADMIN

  
  div(class = "add_form")
   form(action = "/addUser" method="POST")
    input(type="text" class = "inputBox" name="u_id" placeholder = "Enter ADMIN ID" required)
    br
    input(type="password" class = "inputBox" name="password" required placeholder = "Enter password here")
    br
    input(type="submit" class = "register-button" value="ADD ADMIN" required)

   if isSuccess
    div(class = "success_message")
     p(align = "center") #{message}
   else
    div(class = "error_message")
     p(align = "center") #{message}