extends layout

block content
  h1(align='center') WELCOME SUPER USER
  
  div(align='right')
   a(href = "/logout") logout
  hr
  
  div(class = "add_form")
   form(action = "/addUser" method="POST")
    input(type="text" class = "inputBox" name="u_id" placeholder = "Enter ADMIN ID" required)
    br
    input(type="password" class = "inputBox" name="password" required placeholder = "Enter password here")
    br
    input(type="submit" class = "register-button" value="ADD ADMIN" required)
   div(class = "error_message")
    p(align = "center") #{message}