extends layout

block content
  h1= "USER SEARCH"
  form(action = "userSearch" method="POST")
   input(type="text" name="name" required)
   input(type="submit" value="SEARCH" required)
  div
   if(topics)
    table
     tr
      th Book Id
      th Name Of the Book
      th Status
     each topic in topics
      tr
       td #{topic.id}
       td #{topic.book_name}
       td 
        if(topic.available == 1)
         button Borrow
        if(userId == topic.takenBy)
         button Return
        if(topic.available == 0 && userId != topic.takenBy)
         | Not Available
         
